<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Exitosa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            ¡Compra exitosa! Gracias por tu compra.
        </div>
        <a href="{% url 'productos:lista_zapatillas' %}" class="btn btn-primary">Volver a la tienda</a>
    </div>
</body>
</html>
